* {
    margin: 0;
    padding: 0;
}

body {
    display: grid;
    justify-content: center ;
    align-items: center;
    height: 100vh;
    background-image: url("https://cdn.pixabay.com/photo/2021/10/30/12/41/mountains-6754215_1280.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.Container {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.373);
    border-radius: 15px;
    background-color: rgba(223, 8, 169, 0.527);
    padding: 20px;
    display: grid;
    row-gap: 20px;
    background-image: url("https://images.pexels.com/photos/235985/pexels-photo-235985.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500");
    
}

.Heading {
    text-align: center;
    text-transform: uppercase;
}

.form {
    display: grid;
    row-gap: 10px;
}

input {
    border: 0;
    border-radius: 10px;
    height: 30px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.373);
}

.buttons {
    display: flex;
    column-gap: 20px;
    
}

.BlueButton {
    background-color: rgb(247, 10, 10);
    color: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.373);
    border: 0;
    border-radius: 15px;
    width: 100px;
    height: 40px;
}

.WhiteButton {
    background-color: rgb(69, 240, 91);
    color: rgb(0, 12, 0);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.373);
    border: 0;
    border-radius: 15px;
    width: 100px;
    height: 40px;
}